* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  justify-content: center;
  text-align: center;
}

.grid {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: black;
  width: 33.33%;
  height: 33.33%;
  border: 1px solid white;
  padding: 10px;
  color: white;
  font-size: 100px;
}

button {
  background-color: black;
  color: white;
  width: 300px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 5px #666;
  padding: 2px;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box:active {
  transform: translateY(4px);
}
